@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Overused Grotesk";
  src: url("/fonts/OverusedGrotesk.woff2");
}
body{
  font-family: "Overused Grotesk";
}

body,html{
  height: 100%;
  font-display: swap;
}


